body {
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 0;
  background-color: #008080;
  /* teal background */
  color: #ffffff;
  /* black text */
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

header {
  background-color: #000080;
  /* dark blue title bar */
  color: #ffffff;
  /* white text */
  text-align: center;
  padding: 20px 0;
}

nav {
  background-color: #c0c0c0;
  /* light gray background */
  padding: 10px 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  list-style-type: disc;
}

a {
  text-decoration: underline;
  color: #ffffff;
  /* black text */
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffff00;
  /* yellow */
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  border-bottom: 2px solid #ffffff;
  /* black text */
  padding-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

footer {
  background-color: #000080;
  /* dark blue title bar */
  color: #ffffff;
  /* black text */
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  /* black text */
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s;
  border: 1px solid #ffffff;
  /* black text */
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #c0c0c0;
  /* light gray background */
  padding: 0;
  z-index: 1;
}

nav ul ul li {
  display: block;
  margin: 0;
}

nav ul li:hover>ul {
  display: block;
}

nav ul li:hover a {
  background-color: #808080;
  /* dark gray */
}

nav ul li ul li:hover {
  background-color: #808080;
  /* dark gray */
}

nav ul li ul li a {
  display: block;
  padding: 10px 20px;
}

.character-info {
  flex: 2;
  padding: 20px;
  background-color: #008080;
  /* teal background */
  color: #ffffff;
  /* black text */
}

.wiki-infobox {
  flex: 0;
  padding: 20px;
  background-color: #000080;
  /* dark blue title bar */
  color: #ffffff;
  /* black text */
}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
  border: 1px solid #ffffff;
  /* black text */
}

.responsive {
  width: 100%;
  height: auto;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}