body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Courier New", monospace;
  overflow: hidden;
  color: orangered;
}

.crt-monitor {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black; /* Set background color to dark orange */

}

.screen {
  width: 80%; /* Adjust the width to your preference */
  height: 60vh; /* Adjust the height to your preference */
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.output {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: pre-wrap;
  padding: 10px;
  line-height: 1.2;
  animation: flickerAnimation 0.1s alternate infinite; /* Add flicker effect to text */
}

@keyframes flickerAnimation {
  0%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.8;
  }
}
