:root {
  --window-background: #c0c0c0;
  --window-border: 0.25em #d3d3d3 outset;
  --top-border: 1em #000080 solid;
  /* Spacing */
  --default-margin: 1em auto;
}

/* CSS Rules */

main {
  margin: 0 1em;
}
.section {
  text-align: left;
  background-color: var(--window-background);
  border: var(--window-border);
  border-top: var(--top-border);
  margin: var(--default-margin);
  max-width: 8.5in;
  padding: 0.25em 1em;
}
@media (max-width: 8.5in) {
  .section {
    margin: 1em;
  }
}
@media (max-width: 300px) {
  .section {
    margin: 0.5em;
  }
}
.section h1 {
  text-align: center;
  margin-top: none;
}

@media print {
  body {
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  header,
  nav,
  footer {
    display: none;
  }
  .section {
    width: 100%;
    border: none;
    background-color: white;
  }
}