
body,td,th 
{
   font-family: Tahoma,Verdana,Arial;
   font-size  : 12px;
   color      : #000011;}

body 
{
   margin-left  : 12px;
   margin-top   : 12px;
   margin-right : 20px;
   margin-bottom: 12px;
background-image : url('AlbumBackground.gif');
   background-repeat: repeat;
   background-color : #cccccc;
   
  scrollbar-track-color:#ADB0CB;
  scrollbar-darkshadow-color:#798595;
  scrollbar-shadow-color:#BDC4CE;
  scrollbar-3dlight-color:#333399;
  scrollbar-highlight-color:#9E9EDE;
  scrollbar-arrow-color:#1991CE;
  scrollbar-face-color:#2A5693;   }
   

a { 
    font-weight: normal; 
   }   
a:link {
   color: #0020AE;
   text-decoration: underline; 
        background-color: transparent;
   }
a:visited {
   color: #110078;
   text-decoration: underline;
   }
a:hover {
   color: #1000B9;
   text-decoration: none;
        background-color: #eee;   
   }
a:active{
   color: #0000FF;
        background-color: #DFFFDF;   
   text-decoration: none;
   }
   
.Title12 {
   color: #000022;
   font-size  : 12px;
   font-weight: bold;}
.Title14 {
   color: #000022;
   font-size  : 14px;
   font-weight: bold;}
.Title15 {
   color: #000022;
   font-size  : 15px;
   font-weight: bold;}   

   

p { 
  margin-top : 2px;
   margin-bottom  : 4px;
   margin-left    : 10px;
   margin-right   : 6px;}


h1,h2,h3,h4,h5,h6 {
   font-weight: bold;}
h1 {
   font-size: 12px;
   color: #000066;}
h2 {
   font-size: 14px;
   color: #000066;}
h3 {
   font-size: 16px;
   color: #000099;}
h4 {
   font-size: 18px;
   color: #000099;}
h5 {
   font-size: 20px;
   color: #0000CC;}
h6 {
   font-size: 22px;
   color: #0000FF;}
