.dropbtn {
  color: Black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif'sans;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  background:#c66373;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #633139;
}

.dropdown {
  position: static;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  font-size: 16px;
  border: solid 1px #633139;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}


.dropdown a:hover {
  background-color: #ddd
}

.show {
  display: block;
}

body{
    margin: 0;
    min-height: 300px;
}

nav{
    width: 100%;
    float: left;
}

.menu{
    margin: 0;
    padding: 8px;
    height: 100%;
    background-color: #b24d7a;
}

.menu li{
    display: inline;
}

.button{
    font-family: Arial;
    font-size: 1em;
    font-style: none;
    color: #ffffff;
    padding: 8px;
    text-decoration: none;
}

.button:link{
    background-color: #a0456d;
    color: #ffffff;
}

.button:hover{
    background-color: #8e3d61;
}

.boxed {
  border: 6px solid #b24d79;   
	border: 6px solid #b24d79;
} 