

html {
    height: 100%;
}

body{
    font-family: 'Dancing Script', cursive;
    color: #5c5f89;
    margin: 0;
	/* you can delete the line below if you'd prefer to not use an image */
                background-size: 65px;
                color: #5c5f89;
                background-image: var(--body-bg-image);
}

#main{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof{
	  display: table-cell;
	  vertical-align: middle;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}


