@font-face {
  font-family: "Virtue";
  src: local('src/virtue.ttf');
}

.textbox{
    font-family: 'Virtue';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
}
.boxleft {
    float: left;
    width: 30%;
    height: 146px;
    text-align: center;
    border: solid grey;
    border-right: none;
    background-color: lightgrey;
}
.boxmid {
    float: left;
    width: 33%;
    height: 146px;
    text-align: center;
    border: solid grey;
    background-color: lightgrey;
}
.boxright {
    float: left;
    width: 30%;
    height: 146px;
    text-align: center;
    border: solid grey;
    border-left: none;
    background-color: lightgrey;
}
.container {
    margin: auto;
    width: 380px;
}
.imgcontainer{
    padding: 15px;
    text-align: center;
}
}
.largecontainer{
    width: 100%;
}

.warning-container {
  text-align: center;
}

.warning-text {
  font-size: 3em;
  font-weight: bold;
  animation: flash 0.5s infinite alternate; /* Adjusted animation duration for rapid flashing */
}

.disclaimer-text {
  font-size: 1.2em;
}

@keyframes flash {
  from {
    color: red;
  }
  to {
    color: black;
  }
}
