body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background-color: #22223bff;
    /* space-cadet */
    color: #f2e9e4ff;
    /* isabelline */
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #4a4e69ff;
    /* ultra-violet */
    color: #f2e9e4ff;
    /* isabelline */
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #9a8c98ff;
    /* rose-quartz */
    padding: 10px 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: underline;
    color: #f2e9e4ff;
    /* isabelline */
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #c9ada7ff;
    /* pale-dogwood */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    border-bottom: 2px solid #f2e9e4ff;
    /* isabelline */
    padding-bottom: 5px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

footer {
    background-color: #4a4e69ff;
    /* ultra-violet */
    color: #f2e9e4ff;
    /* isabelline */
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s;
    border: 1px solid #f2e9e4ff;
    /* isabelline */
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #9a8c98ff;
    /* rose-quartz */
    padding: 0;
    z-index: 1;
}

nav ul ul li {
    display: block;
    margin: 0;
}

nav ul li:hover>ul {
    display: block;
}

nav ul li:hover a {
    background-color: #4a4e69ff;
    /* ultra-violet */
}

nav ul li ul li:hover {
    background-color: #4a4e69ff;
    /* ultra-violet */
}

nav ul li ul li a {
    display: block;
    padding: 10px 20px;
}

li {
    list-style-type: disc;
}

.responsive {
    width: 100%;
    height: auto;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}