@charset "utf-8";
/* CSS Document */

body{
  font-family: 'Perfect DOS VGA 437','Perfect DOS VGA 437 Win', sans-serif;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  color:#000000;
  background-image: url("https://sadhost.neocities.org/images/tiles/comp016.gif");
  background-repeat: repeat;
}
.text-centre{
  text-align:center;
}
.body-wrapper{
  max-width:1000px;
  margin:0 auto;
}
.picheader{
  height:250px;
  overflow:hidden;
}
header nav{
  background:#897669;
  color:#c8b29a;
  border: solid 1px #897669;
  overflow:hidden;
  padding:10px auto;
}
header nav ul{
  list-style:none;
  overflow:hidden;
}
header nav ul li{
  float:left;
  margin-left: 4px;
  margin-right: 4px;
}
header nav ul li a{
  color:#000000;
  font-size:1.2em
}
article{
  margin: 5px;
  padding: 5px 0;
  border: solid 1px #cab4a0;
  overflow: hidden;
  padding-top: 0px;
  background:#fff;
}
.title{
  background: #897669;
  color: #000000;
  padding: 5px;
  padding-left: 10px;
  overflow: hidden;
	margin: 0;
  font-weight:bolder;
}
article p, article h1,article h2, article h3, article h4{
  padding:0 15px;
}
main{
  float:left;
  max-width: 68%;
}
aside{
  float:right;
	max-width: 32%;
}
footer{
	width: 100%;
	float: left;
}
.responsive {
  width: 100%;
  height: auto;
}