body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  color: #000000;
  background-image: url("https://raw.githubusercontent.com/Sinclair-Speccy/The-Mainframe/main/The-Writers-Desk/FIBER01.png");
  background-repeat: repeat;
  font-size: 15px;
}

.text-centre {
  text-align: center;
}

.body-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.picheader {
  height: 250px;
  overflow: hidden;
}

header nav {
  background: #bbbbbb;
  color: #fff;
  border: solid 1px #bbbbbb;
  overflow: hidden;
  padding: 10px auto;
}

header nav ul {
  list-style: none;
  overflow: hidden;
}

header nav ul li {
  float: left;
  margin-left: 4px;
  margin-right: 4px;
}

header nav ul li a {
  color: #000000;
  font-size: 1.2em;
}

article {
  margin: 5px;
  padding: 5px 0;
  border: solid 1px #aaaaaa;
  overflow: hidden;
  padding-top: 0px;
  background: #fff;
}

.title {
  background: #bbbbbb;
  color: #000000;
  padding: 5px;
  padding-left: 10px;
  overflow: hidden;
  margin: 0;
  font-weight: bolder;
}

article p,
article h1,
article h2,
article h3,
article h4 {
  padding: 0 15px;
}

main {
  float: left;
  max-width: 68%;
}

aside {
  float: right;
  max-width: 32%;
}

footer {
  width: 100%;
  float: left;
}

.responsive {
  width: 100%;
  height: auto;
}